@model Departments

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>DepartmentID</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>@Model.DepartmentID</td>
        <td>@Model.Name</td>
    </tr>

</table>

